<config>
	<modules>
		<Cammino_CepCorreios>
			<version>0.0.1</version>
		</Cammino_CepCorreios>
	</modules>
	<global>
		<models>
			<cepcorreios>
				<class>Cammino_CepCorreios_Model</class>
			</cepcorreios>
		</models>
		<resources>
			<connection>
				<use>core_setup</use>
			</connection>
		</resources>
		<blocks>
			<cepcorreios>
				<class>Cammino_CepCorreios_Block</class>
			</cepcorreios>
		</blocks>
	</global>
	<frontend>
		<routers>
			<cepcorreios>
				<use>standard</use>
				<args>
					<module>Cammino_CepCorreios</module>
					<frontName>CepCorreios</frontName>
				</args>
			</cepcorreios>
		</routers>
		<events>
            <core_block_abstract_to_html_before>
                <observers>
                    <cammino_cepcorreios>
                    	<type>model</type>
                        <class>Cammino_CepCorreios_Model_Observer</class>
                        <method>insertBlock</method>
                    </cammino_cepcorreios>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
	</frontend>
</config>