<config>
	<modules>
		<Cammino_CepCorreios>
			<version>0.0.1</version>
		</Cammino_CepCorreios>
	</modules>
	<global>
		<models>
			<cepcorreios>
				<class>Cammino_CepCorreios_Model</class>
			</cepcorreios>
		</models>
		<blocks>
			<cepcorreios>
				<class>Cammino_CepCorreios_Block</class>
			</cepcorreios>
		</blocks>
		<resources>
			<connection>
				<use>core_setup</use>
			</connection>
		</resources>
	</global>
	<frontend>
		<routers>
			<cepcorreios>
				<use>standard</use>
				<args>
					<module>Cammino_CepCorreios</module>
					<frontName>cepcorreios</frontName>
				</args>
			</cepcorreios>
		</routers>
		<events>
			<!--             
			<controller_action_layout_generate_blocks_before>
                <observers>
                    <cammino_cepcorreios>
                    	<type>model</type>
                        <class>Cammino_CepCorreios_Model_Observer</class>
                        <method>insertBlock</method>
                    </cammino_cepcorreios>
                </observers>
            </controller_action_layout_generate_blocks_before> 
        	-->
        </events>

		<layout>
			<updates>
				<cepcorreios module="Cammino_CepCorreios">
					<file>cepcorreios.xml</file>
				</cepcorreios>
			</updates>
		</layout> 

	</frontend>
</config>